[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside2 = "*"
xattr = "*"
pycobertura = "*"
coverage = "*"
pylint = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
